Pipfile.lock
Pipfile
Test_Cuda.ipynb
Miniprojekt Kinderlieder/4_Kinderlieder.ipynb
Test_mps.ipynb
Miniprojekt Kinderlieder/GPT_generated_text_initial_hyperparameters.txt
Miniprojekt Kinderlieder/Kinderlieder.txt
